<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT fADAboutChef ANY>
<!ATTLIST fADAboutChef id ID #REQUIRED>
<!ELEMENT fADHomeHighlightFood ANY>
<!ATTLIST fADHomeHighlightFood id ID #REQUIRED>
<!ELEMENT fADPageAboutUs ANY>
<!ATTLIST fADPageAboutUs id ID #REQUIRED>
<!ELEMENT fADPageHome ANY>
<!ATTLIST fADPageHome id ID #REQUIRED>
<!ELEMENT fADSite ANY>
<!ATTLIST fADSite id ID #REQUIRED>
]>
<root id="-1">
  <fADSite id="1069" key="a6a79adf-8777-4b4b-aca2-9f9aac91cb31" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-07-20T14:32:52" updateDate="2017-08-02T17:22:19" nodeName="FAD Public" urlName="fad-public" path="-1,1069" isDoc="" nodeType="1068" creatorName="thovu" writerName="thovu" writerID="0" template="1062" nodeTypeAlias="fADSite">
    <siteTitle><![CDATA[Food And Drink]]></siteTitle>
    <siteLogo><![CDATA[umb://media/b670f2c5c84f41528538ceb0bd4bf3fd]]></siteLogo>
    <siteLogoFooter><![CDATA[umb://media/b670f2c5c84f41528538ceb0bd4bf3fd]]></siteLogoFooter>
    <siteDescription><![CDATA[Food And Drink]]></siteDescription>
    <fADPageHome id="1070" key="d1cb896b-bb1f-4fec-adce-4753929c8107" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2017-07-20T14:37:54" updateDate="2017-08-02T18:19:43" nodeName="Home" urlName="home" path="-1,1069,1070" isDoc="" nodeType="1066" creatorName="thovu" writerName="thovu" writerID="0" template="1062" nodeTypeAlias="fADPageHome">
      <footerShow>0</footerShow>
      <menuShow>0</menuShow>
      <menuText><![CDATA[Home]]></menuText>
      <aboutFAD><![CDATA[<p><span>Mauris dui eget rutrum integer tellus sit, neque mi tristique vestibulum. Eu est mi mauris mattis, aliquam et purus libero sollicitudin cras. Vulputate eget justo. Consectetuer gravida dapibus nulla vitae, ipsum mauris, lacinia magnis tempus neque, diam bibendum est et, ante scelerisque vivamus est bibendum. A ultrices ante metus turpis dolor, venenatis et placerat varius vestibulum dapibus, proin libero montes vitae sodales quis tempus. Ut sed etiam in, ipsum purus, ridiculus nec.</span></p>]]></aboutFAD>
      <foodImages><![CDATA[umb://media/bdfb63af37ac41b1adab8bdb5e64f2ae,umb://media/e12768897a0b4fb4924168e8d20d4d42,umb://media/0cfbab8d000d441a88560028c5e42c7d]]></foodImages>
      <fADHomeHighlightFood id="1079" key="40ddc852-9d43-4de5-ac10-9250d61dcf3d" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2017-08-02T18:34:14" updateDate="2017-08-02T18:37:20" nodeName="Food 1" urlName="food-1" path="-1,1069,1070,1079" isDoc="" nodeType="1078" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADHomeHighlightFood">
        <price>23</price>
        <foodImage><![CDATA[umb://media/9fd1823094d8402b9b327e09ee4cf574]]></foodImage>
        <description><![CDATA[<p>Test</p>]]></description>
      </fADHomeHighlightFood>
      <fADHomeHighlightFood id="1085" key="d7c98ead-aeb3-4870-9c37-daf7ca04e7f3" parentID="1070" level="3" creatorID="0" sortOrder="1" createDate="2017-08-03T09:37:51" updateDate="2017-08-03T09:37:51" nodeName="Food 2" urlName="food-2" path="-1,1069,1070,1085" isDoc="" nodeType="1078" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADHomeHighlightFood">
        <price>33</price>
        <foodImage><![CDATA[umb://media/f33fd28d42e94214a61f3a06216cf8c0]]></foodImage>
        <description><![CDATA[<p><span>Lorem ipsum dolor sit amet, aliquam tellus</span></p>]]></description>
      </fADHomeHighlightFood>
      <fADHomeHighlightFood id="1086" key="b1d57033-232e-4e44-b8a2-58075a72edd5" parentID="1070" level="3" creatorID="0" sortOrder="2" createDate="2017-08-03T09:38:13" updateDate="2017-08-03T09:38:13" nodeName="Food 3" urlName="food-3" path="-1,1069,1070,1086" isDoc="" nodeType="1078" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADHomeHighlightFood">
        <price>45</price>
        <foodImage><![CDATA[umb://media/74394a3e20d9443a9d0250307aa037dd]]></foodImage>
        <description><![CDATA[<p><span>Mauris dui eget rutrum integer tellus sit</span></p>]]></description>
      </fADHomeHighlightFood>
      <fADHomeHighlightFood id="1087" key="3e43e011-a72d-487f-8d4b-781577a2489b" parentID="1070" level="3" creatorID="0" sortOrder="3" createDate="2017-08-03T09:38:40" updateDate="2017-08-03T09:38:40" nodeName="Food 4" urlName="food-4" path="-1,1069,1070,1087" isDoc="" nodeType="1078" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADHomeHighlightFood">
        <price>67</price>
        <foodImage><![CDATA[umb://media/366fc27f1d3a47cd9d6695d5e2f449f1]]></foodImage>
        <description><![CDATA[<p><span>Hendrerit a lorem, dui diam porta neque donec</span></p>]]></description>
      </fADHomeHighlightFood>
      <fADHomeHighlightFood id="1090" key="de4a7a73-14ab-46c5-99e2-abe04a53daf1" parentID="1070" level="3" creatorID="0" sortOrder="4" createDate="2017-08-03T09:39:41" updateDate="2017-08-03T09:39:41" nodeName="Food 5" urlName="food-5" path="-1,1069,1070,1090" isDoc="" nodeType="1078" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADHomeHighlightFood">
        <price>12</price>
        <foodImage><![CDATA[umb://media/eeb195ed9f754a78a5454c4dbe6eefe2]]></foodImage>
        <description><![CDATA[<p><span>Hendrerit a lorem, dui diam porta neque donec</span></p>]]></description>
      </fADHomeHighlightFood>
      <fADHomeHighlightFood id="1091" key="9c3ad127-c4db-4edc-b930-93ec29c833fb" parentID="1070" level="3" creatorID="0" sortOrder="5" createDate="2017-08-03T09:40:07" updateDate="2017-08-03T09:40:07" nodeName="Food 6" urlName="food-6" path="-1,1069,1070,1091" isDoc="" nodeType="1078" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADHomeHighlightFood">
        <price>6</price>
        <foodImage><![CDATA[umb://media/a1625dbbc2f64820ada66de0106ff87e]]></foodImage>
        <description><![CDATA[<p><span>Cras adipiscing porta tellus metus ut, in praesent non montes ipsum</span></p>]]></description>
      </fADHomeHighlightFood>
    </fADPageHome>
    <fADPageAboutUs id="1071" key="6b942d42-ba04-4096-a987-79bf14ac37b9" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2017-07-20T14:38:12" updateDate="2017-08-03T14:03:07" nodeName="About Us" urlName="about-us" path="-1,1069,1071" isDoc="" nodeType="1067" creatorName="thovu" writerName="thovu" writerID="0" template="1063" nodeTypeAlias="fADPageAboutUs">
      <footerShow>0</footerShow>
      <menuShow>1</menuShow>
      <menuText><![CDATA[About Us]]></menuText>
      <photo><![CDATA[umb://media/fba7358864cc44149350bb80cebd2a8b]]></photo>
      <aboutFoodAndDrink><![CDATA[<p>Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget.</p>
<p>Ghfgop Maecnas cursus fringilla sagittis. Donec eu felis purus, iaculis fringilla ipsum. Inte ger non nulla sem, eget volutpat augue. Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget.</p>
<p>Donec eu felis purus, iaculis fringilla ipsum. Integer non. nulla sem, eget volutpat augue. Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget vel odio. Sed tempus orci tempus libero suscipit elementum. Aliquam consectetur. Ghfgop Maecnas cursus.</p>]]></aboutFoodAndDrink>
      <fADAboutChef id="1100" key="a445b5db-e4f2-46c3-bd4e-a1f87c601555" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2017-08-03T13:22:05" updateDate="2017-08-03T13:47:59" nodeName="Chef 1" urlName="chef-1" path="-1,1069,1071,1100" isDoc="" nodeType="1093" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADAboutChef">
        <displayName><![CDATA[Ann Franklin]]></displayName>
        <photo><![CDATA[umb://media/cfa0b712d13d4e5b948339f78ab17b50]]></photo>
        <personSummary><![CDATA[<p><span>Nulla pellentesque tempus quam nec porta. Donec nec lorem enim. Aenean velit velit, faucibus sed porta quis, gt er semper ac elit. Aliquam hendrerit mo lestie turpis condimentum tristique. Fty aliquam malesuada orci a massa yht. semper sed interdum arcu</span></p>]]></personSummary>
      </fADAboutChef>
      <fADAboutChef id="1101" key="21989fb9-3cc6-4c87-9c72-bc55152e2e19" parentID="1071" level="3" creatorID="0" sortOrder="1" createDate="2017-08-03T13:58:31" updateDate="2017-08-03T13:58:31" nodeName="Chef 2" urlName="chef-2" path="-1,1069,1071,1101" isDoc="" nodeType="1093" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADAboutChef">
        <displayName><![CDATA[Milisa Dayemond]]></displayName>
        <photo><![CDATA[umb://media/fd17d8569f0840a78ef68d91a083e4f8]]></photo>
        <personSummary><![CDATA[<p><span>Lorem ipsum pellentesque tempus quam nec porta. Donec nec lorem enim. Aenean velit velit, faucibus sed porta quis, gt er semper ac elit. Aliquam hendrerit mo lestie turpis condimentum tristique. Fty aliquam malesuada orci a massa iaculis. Integer a diam a odio.</span></p>]]></personSummary>
      </fADAboutChef>
      <fADAboutChef id="1102" key="26e65014-cc68-4259-adae-86aa4aba8062" parentID="1071" level="3" creatorID="0" sortOrder="2" createDate="2017-08-03T13:59:14" updateDate="2017-08-03T13:59:14" nodeName="Chef 3" urlName="chef-3" path="-1,1069,1071,1102" isDoc="" nodeType="1093" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADAboutChef">
        <displayName><![CDATA[Liza Croft]]></displayName>
        <photo><![CDATA[umb://media/3e9032f834df4a0caf84046a3861e099]]></photo>
        <personSummary><![CDATA[<p><span>Aenean velittempus quam nec porta. Donec nec lorem enim. Aenean velit velit, faucibus sed porta quis, gt er semper ac elit. Aliquam hendrerit mo lestie turpis condimentum tristique. Fty aliquam malesuada orci a massa yht. semper sed interdum.</span></p>]]></personSummary>
      </fADAboutChef>
      <fADAboutChef id="1103" key="78bd08bf-98ed-4231-897e-affb47f92852" parentID="1071" level="3" creatorID="0" sortOrder="3" createDate="2017-08-03T14:00:05" updateDate="2017-08-03T14:00:05" nodeName="Chef 4" urlName="chef-4" path="-1,1069,1071,1103" isDoc="" nodeType="1093" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADAboutChef">
        <displayName><![CDATA[Alan Soares]]></displayName>
        <photo><![CDATA[umb://media/42837c4d826e4a25b2af673f0e48619b]]></photo>
        <personSummary><![CDATA[<p><span>Donec necllentesque tempus quam nec porta. Donec nec lorem enim. Aenean velit velit, faucibus sed porta quis, gt er semper ac elit. Aliquam hendrerit mo lestie turpis condimentum tristique. Fty aliquam malesuada orci a massa yht. semper sed interdum.</span></p>]]></personSummary>
      </fADAboutChef>
    </fADPageAboutUs>
  </fADSite>
</root>