<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT fADOrderDetailEntry ANY>
<!ATTLIST fADOrderDetailEntry id ID #REQUIRED>
<!ELEMENT fADPage ANY>
<!ATTLIST fADPage id ID #REQUIRED>
<!ELEMENT fADPageHome ANY>
<!ATTLIST fADPageHome id ID #REQUIRED>
<!ELEMENT fADPageAboutUs ANY>
<!ATTLIST fADPageAboutUs id ID #REQUIRED>
<!ELEMENT fADSite ANY>
<!ATTLIST fADSite id ID #REQUIRED>
<!ELEMENT fADHomeHighlightFood ANY>
<!ATTLIST fADHomeHighlightFood id ID #REQUIRED>
<!ELEMENT fADAboutChef ANY>
<!ATTLIST fADAboutChef id ID #REQUIRED>
<!ELEMENT fADPageMenu ANY>
<!ATTLIST fADPageMenu id ID #REQUIRED>
<!ELEMENT fADMenuFolder ANY>
<!ATTLIST fADMenuFolder id ID #REQUIRED>
<!ELEMENT fADMenuFood ANY>
<!ATTLIST fADMenuFood id ID #REQUIRED>
<!ELEMENT fADPageOrderList ANY>
<!ATTLIST fADPageOrderList id ID #REQUIRED>
<!ELEMENT fADOrderListFolder ANY>
<!ATTLIST fADOrderListFolder id ID #REQUIRED>
<!ELEMENT fADOrderEntry ANY>
<!ATTLIST fADOrderEntry id ID #REQUIRED>
]>
<root id="-1">
  <fADSite id="1069" key="a6a79adf-8777-4b4b-aca2-9f9aac91cb31" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-07-20T14:32:52" updateDate="2017-08-02T17:22:19" nodeName="FAD Public" urlName="fad-public" path="-1,1069" isDoc="" nodeType="1068" creatorName="thovu" writerName="thovu" writerID="0" template="1062" nodeTypeAlias="fADSite">
    <siteTitle><![CDATA[Food And Drink]]></siteTitle>
    <siteLogo><![CDATA[umb://media/b670f2c5c84f41528538ceb0bd4bf3fd]]></siteLogo>
    <siteLogoFooter><![CDATA[umb://media/b670f2c5c84f41528538ceb0bd4bf3fd]]></siteLogoFooter>
    <siteDescription><![CDATA[Food And Drink]]></siteDescription>
    <fADPageHome id="1070" key="d1cb896b-bb1f-4fec-adce-4753929c8107" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2017-07-20T14:37:54" updateDate="2017-08-04T16:40:22" nodeName="Home" urlName="home" path="-1,1069,1070" isDoc="" nodeType="1066" creatorName="thovu" writerName="thovu" writerID="0" template="1062" nodeTypeAlias="fADPageHome">
      <footerShow>0</footerShow>
      <menuShow>0</menuShow>
      <menuText><![CDATA[Home]]></menuText>
      <aboutFAD><![CDATA[<p>Mauris dui eget rutrum integer tellus sit, neque mi tristique vestibulum. Eu est mi mauris mattis, aliquam et purus libero sollicitudin cras. Vulputate eget justo. Consectetuer gravida dapibus nulla vitae, ipsum mauris, lacinia magnis tempus neque, diam bibendum est et, ante scelerisque vivamus est bibendum. A ultrices ante metus turpis dolor, venenatis et placerat varius vestibulum dapibus, proin libero montes vitae sodales quis tempus. Ut sed etiam in, ipsum purus, ridiculus nec. BC</p>]]></aboutFAD>
      <foodImages><![CDATA[umb://media/bdfb63af37ac41b1adab8bdb5e64f2ae,umb://media/e12768897a0b4fb4924168e8d20d4d42,umb://media/0cfbab8d000d441a88560028c5e42c7d]]></foodImages>
      <fADHomeHighlightFood id="1079" key="40ddc852-9d43-4de5-ac10-9250d61dcf3d" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2017-08-02T18:34:14" updateDate="2017-08-02T18:37:20" nodeName="Food 1" urlName="food-1" path="-1,1069,1070,1079" isDoc="" nodeType="1078" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADHomeHighlightFood">
        <price>23</price>
        <foodImage><![CDATA[umb://media/9fd1823094d8402b9b327e09ee4cf574]]></foodImage>
        <description><![CDATA[<p>Test</p>]]></description>
      </fADHomeHighlightFood>
      <fADHomeHighlightFood id="1085" key="d7c98ead-aeb3-4870-9c37-daf7ca04e7f3" parentID="1070" level="3" creatorID="0" sortOrder="1" createDate="2017-08-03T09:37:51" updateDate="2017-08-03T09:37:51" nodeName="Food 2" urlName="food-2" path="-1,1069,1070,1085" isDoc="" nodeType="1078" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADHomeHighlightFood">
        <price>33</price>
        <foodImage><![CDATA[umb://media/f33fd28d42e94214a61f3a06216cf8c0]]></foodImage>
        <description><![CDATA[<p><span>Lorem ipsum dolor sit amet, aliquam tellus</span></p>]]></description>
      </fADHomeHighlightFood>
      <fADHomeHighlightFood id="1086" key="b1d57033-232e-4e44-b8a2-58075a72edd5" parentID="1070" level="3" creatorID="0" sortOrder="2" createDate="2017-08-03T09:38:13" updateDate="2017-08-03T09:38:13" nodeName="Food 3" urlName="food-3" path="-1,1069,1070,1086" isDoc="" nodeType="1078" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADHomeHighlightFood">
        <price>45</price>
        <foodImage><![CDATA[umb://media/74394a3e20d9443a9d0250307aa037dd]]></foodImage>
        <description><![CDATA[<p><span>Mauris dui eget rutrum integer tellus sit</span></p>]]></description>
      </fADHomeHighlightFood>
      <fADHomeHighlightFood id="1087" key="3e43e011-a72d-487f-8d4b-781577a2489b" parentID="1070" level="3" creatorID="0" sortOrder="3" createDate="2017-08-03T09:38:40" updateDate="2017-08-03T09:38:40" nodeName="Food 4" urlName="food-4" path="-1,1069,1070,1087" isDoc="" nodeType="1078" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADHomeHighlightFood">
        <price>67</price>
        <foodImage><![CDATA[umb://media/366fc27f1d3a47cd9d6695d5e2f449f1]]></foodImage>
        <description><![CDATA[<p><span>Hendrerit a lorem, dui diam porta neque donec</span></p>]]></description>
      </fADHomeHighlightFood>
      <fADHomeHighlightFood id="1090" key="de4a7a73-14ab-46c5-99e2-abe04a53daf1" parentID="1070" level="3" creatorID="0" sortOrder="4" createDate="2017-08-03T09:39:41" updateDate="2017-08-03T09:39:41" nodeName="Food 5" urlName="food-5" path="-1,1069,1070,1090" isDoc="" nodeType="1078" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADHomeHighlightFood">
        <price>12</price>
        <foodImage><![CDATA[umb://media/eeb195ed9f754a78a5454c4dbe6eefe2]]></foodImage>
        <description><![CDATA[<p><span>Hendrerit a lorem, dui diam porta neque donec</span></p>]]></description>
      </fADHomeHighlightFood>
      <fADHomeHighlightFood id="1091" key="9c3ad127-c4db-4edc-b930-93ec29c833fb" parentID="1070" level="3" creatorID="0" sortOrder="5" createDate="2017-08-03T09:40:07" updateDate="2017-08-03T09:40:07" nodeName="Food 6" urlName="food-6" path="-1,1069,1070,1091" isDoc="" nodeType="1078" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADHomeHighlightFood">
        <price>6</price>
        <foodImage><![CDATA[umb://media/a1625dbbc2f64820ada66de0106ff87e]]></foodImage>
        <description><![CDATA[<p><span>Cras adipiscing porta tellus metus ut, in praesent non montes ipsum</span></p>]]></description>
      </fADHomeHighlightFood>
    </fADPageHome>
    <fADPageAboutUs id="1071" key="6b942d42-ba04-4096-a987-79bf14ac37b9" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2017-07-20T14:38:12" updateDate="2017-08-03T14:03:07" nodeName="About Us" urlName="about-us" path="-1,1069,1071" isDoc="" nodeType="1067" creatorName="thovu" writerName="thovu" writerID="0" template="1063" nodeTypeAlias="fADPageAboutUs">
      <footerShow>0</footerShow>
      <menuShow>1</menuShow>
      <menuText><![CDATA[About Us]]></menuText>
      <photo><![CDATA[umb://media/fba7358864cc44149350bb80cebd2a8b]]></photo>
      <aboutFoodAndDrink><![CDATA[<p>Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget.</p>
<p>Ghfgop Maecnas cursus fringilla sagittis. Donec eu felis purus, iaculis fringilla ipsum. Inte ger non nulla sem, eget volutpat augue. Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget.</p>
<p>Donec eu felis purus, iaculis fringilla ipsum. Integer non. nulla sem, eget volutpat augue. Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget vel odio. Sed tempus orci tempus libero suscipit elementum. Aliquam consectetur. Ghfgop Maecnas cursus.</p>]]></aboutFoodAndDrink>
      <fADAboutChef id="1100" key="a445b5db-e4f2-46c3-bd4e-a1f87c601555" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2017-08-03T13:22:05" updateDate="2017-08-03T13:47:59" nodeName="Chef 1" urlName="chef-1" path="-1,1069,1071,1100" isDoc="" nodeType="1093" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADAboutChef">
        <displayName><![CDATA[Ann Franklin]]></displayName>
        <photo><![CDATA[umb://media/cfa0b712d13d4e5b948339f78ab17b50]]></photo>
        <personSummary><![CDATA[<p><span>Nulla pellentesque tempus quam nec porta. Donec nec lorem enim. Aenean velit velit, faucibus sed porta quis, gt er semper ac elit. Aliquam hendrerit mo lestie turpis condimentum tristique. Fty aliquam malesuada orci a massa yht. semper sed interdum arcu</span></p>]]></personSummary>
      </fADAboutChef>
      <fADAboutChef id="1101" key="21989fb9-3cc6-4c87-9c72-bc55152e2e19" parentID="1071" level="3" creatorID="0" sortOrder="1" createDate="2017-08-03T13:58:31" updateDate="2017-08-03T13:58:31" nodeName="Chef 2" urlName="chef-2" path="-1,1069,1071,1101" isDoc="" nodeType="1093" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADAboutChef">
        <displayName><![CDATA[Milisa Dayemond]]></displayName>
        <photo><![CDATA[umb://media/fd17d8569f0840a78ef68d91a083e4f8]]></photo>
        <personSummary><![CDATA[<p><span>Lorem ipsum pellentesque tempus quam nec porta. Donec nec lorem enim. Aenean velit velit, faucibus sed porta quis, gt er semper ac elit. Aliquam hendrerit mo lestie turpis condimentum tristique. Fty aliquam malesuada orci a massa iaculis. Integer a diam a odio.</span></p>]]></personSummary>
      </fADAboutChef>
      <fADAboutChef id="1102" key="26e65014-cc68-4259-adae-86aa4aba8062" parentID="1071" level="3" creatorID="0" sortOrder="2" createDate="2017-08-03T13:59:14" updateDate="2017-08-03T13:59:14" nodeName="Chef 3" urlName="chef-3" path="-1,1069,1071,1102" isDoc="" nodeType="1093" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADAboutChef">
        <displayName><![CDATA[Liza Croft]]></displayName>
        <photo><![CDATA[umb://media/3e9032f834df4a0caf84046a3861e099]]></photo>
        <personSummary><![CDATA[<p><span>Aenean velittempus quam nec porta. Donec nec lorem enim. Aenean velit velit, faucibus sed porta quis, gt er semper ac elit. Aliquam hendrerit mo lestie turpis condimentum tristique. Fty aliquam malesuada orci a massa yht. semper sed interdum.</span></p>]]></personSummary>
      </fADAboutChef>
      <fADAboutChef id="1103" key="78bd08bf-98ed-4231-897e-affb47f92852" parentID="1071" level="3" creatorID="0" sortOrder="3" createDate="2017-08-03T14:00:05" updateDate="2017-08-03T14:00:05" nodeName="Chef 4" urlName="chef-4" path="-1,1069,1071,1103" isDoc="" nodeType="1093" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADAboutChef">
        <displayName><![CDATA[Alan Soares]]></displayName>
        <photo><![CDATA[umb://media/42837c4d826e4a25b2af673f0e48619b]]></photo>
        <personSummary><![CDATA[<p><span>Donec necllentesque tempus quam nec porta. Donec nec lorem enim. Aenean velit velit, faucibus sed porta quis, gt er semper ac elit. Aliquam hendrerit mo lestie turpis condimentum tristique. Fty aliquam malesuada orci a massa yht. semper sed interdum.</span></p>]]></personSummary>
      </fADAboutChef>
    </fADPageAboutUs>
    <fADPageMenu id="1110" key="c82b7f54-960a-443a-b6d8-47d846dc0cfd" parentID="1069" level="2" creatorID="0" sortOrder="2" createDate="2017-08-07T11:36:08" updateDate="2017-08-07T13:46:55" nodeName="Menu" urlName="menu" path="-1,1069,1110" isDoc="" nodeType="1105" creatorName="thovu" writerName="thovu" writerID="0" template="1106" nodeTypeAlias="fADPageMenu">
      <footerShow>0</footerShow>
      <menuShow>1</menuShow>
      <menuText><![CDATA[Menu]]></menuText>
      <description><![CDATA[<p><span>Mauris dui eget rutrum integer tellus sit, neque mi tristique vestibulum. Eu est mi mauris mattis, aliquam et purus libero sollicitudin cras. Vulputate eget justo. Consectetuer gravida dapibus nulla vitae, ipsum mauris, lacinia magnis tempus neque, diam bibendum est et, ante scelerisque vivamus est bibendum. A ultrices ante metus turpis dolor, venenatis et placerat varius vestibulum dapibus, proin libero montes vitae sodales quis tempus. Ut sed etiam in, ipsum purus, ridiculus nec.</span></p>]]></description>
      <title><![CDATA[Our Menu]]></title>
      <fADMenuFolder id="1112" key="81f3c7b3-d819-4855-853d-2e619867eea9" parentID="1110" level="3" creatorID="0" sortOrder="0" createDate="2017-08-07T11:38:10" updateDate="2017-08-07T11:38:10" nodeName="2017" urlName="2017" path="-1,1069,1110,1112" isDoc="" nodeType="1108" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADMenuFolder">
        <fADMenuFolder id="1113" key="225af1d1-c2da-4533-bc6d-95d4e5db2201" parentID="1112" level="4" creatorID="0" sortOrder="0" createDate="2017-08-07T11:38:24" updateDate="2017-08-07T11:38:24" nodeName="08" urlName="08" path="-1,1069,1110,1112,1113" isDoc="" nodeType="1108" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADMenuFolder">
          <fADMenuFood id="1118" key="bcc78f54-90f2-47c3-a5e3-461ac0710305" parentID="1113" level="5" creatorID="0" sortOrder="0" createDate="2017-08-07T14:13:26" updateDate="2017-08-07T14:13:26" nodeName="Donec - Food 1" urlName="donec-food-1" path="-1,1069,1110,1112,1113,1118" isDoc="" nodeType="1109" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADMenuFood">
            <price>44</price>
            <toDate>2017-08-13T00:00:00</toDate>
            <description><![CDATA[<p>Biorhythm Calculator<br />Lorem Ipsum<br />Nasa Exercise<br />Slogan Generator (English)<br />RGB Color Calculator &amp; Color Scheme Tool<br />Danish shortcuts</p>]]></description>
            <fromDate>2017-08-07T00:00:00</fromDate>
            <image><![CDATA[umb://media/35e9b0e0a51a4d6795cfba0a7be7185f]]></image>
            <displayName><![CDATA[Donec]]></displayName>
          </fADMenuFood>
          <fADMenuFood id="1121" key="155c936e-0f90-4858-a2d9-45d0fbfbae0a" parentID="1113" level="5" creatorID="0" sortOrder="1" createDate="2017-08-08T17:50:20" updateDate="2017-08-08T17:50:20" nodeName="Murtyio - Food 2" urlName="murtyio-food-2" path="-1,1069,1110,1112,1113,1121" isDoc="" nodeType="1109" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADMenuFood">
            <price>12</price>
            <toDate>2017-08-15T00:00:00</toDate>
            <description><![CDATA[<p>Pizza</p>
<p>lap xuong</p>
<p>vien day</p>
<p>pho mai</p>
<p> </p>
<p> </p>]]></description>
            <fromDate>2017-08-08T00:00:00</fromDate>
            <image><![CDATA[umb://media/f6366b88bd0645ec95ef7bdda03b77e7]]></image>
            <displayName><![CDATA[Murtyio]]></displayName>
          </fADMenuFood>
          <fADMenuFood id="1122" key="c91f7113-abe7-4496-a115-66fdb5f6ea1e" parentID="1113" level="5" creatorID="0" sortOrder="2" createDate="2017-08-08T17:51:34" updateDate="2017-08-08T17:51:34" nodeName="Holity as Polfh - Food 3" urlName="holity-as-polfh-food-3" path="-1,1069,1110,1112,1113,1122" isDoc="" nodeType="1109" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADMenuFood">
            <price>5</price>
            <toDate>2017-08-12T00:00:00</toDate>
            <description><![CDATA[<p>Tomato</p>
<p>Salach</p>
<p>hanh</p>
<p>chily</p>
<p>Sauce </p>
<p>blah blah</p>]]></description>
            <fromDate>2017-08-01T00:00:00</fromDate>
            <image><![CDATA[umb://media/4ea9c89e5f184fb88c74c1e755285f75]]></image>
            <displayName><![CDATA[Holity as Polfh]]></displayName>
          </fADMenuFood>
        </fADMenuFolder>
      </fADMenuFolder>
    </fADPageMenu>
    <fADPageOrderList id="1129" key="d6ff4ed3-241f-4c36-9eba-55a21e4e1b59" parentID="1069" level="2" creatorID="0" sortOrder="3" createDate="2017-08-09T15:35:14" updateDate="2017-08-09T16:50:35" nodeName="Food Order List" urlName="food-order-list" path="-1,1069,1129" isDoc="" nodeType="1123" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADPageOrderList">
      <generateFolder>1</generateFolder>
      <folderTypeAlias><![CDATA[fADOrderListFolder]]></folderTypeAlias>
      <fADOrderListFolder id="1130" key="c1cfa73f-9420-44dc-adaa-f47387e5b864" parentID="1129" level="3" creatorID="0" sortOrder="0" createDate="2017-08-09T15:35:30" updateDate="2017-08-09T15:35:30" nodeName="2017" urlName="2017" path="-1,1069,1129,1130" isDoc="" nodeType="1125" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderListFolder">
        <fADOrderListFolder id="1131" key="7d33774d-4c0b-43d5-8308-1db2a5d69f45" parentID="1130" level="4" creatorID="0" sortOrder="0" createDate="2017-08-09T15:35:42" updateDate="2017-08-09T15:35:42" nodeName="08" urlName="08" path="-1,1069,1129,1130,1131" isDoc="" nodeType="1125" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderListFolder">
          <fADOrderEntry id="1132" key="3824825b-cc46-4d2c-8994-ac5436c0ceb9" parentID="1131" level="5" creatorID="0" sortOrder="0" createDate="2017-08-09T15:36:08" updateDate="2017-08-09T15:36:08" nodeName="Test" urlName="test" path="-1,1069,1129,1130,1131,1132" isDoc="" nodeType="1127" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderEntry">
            <phone><![CDATA[123123]]></phone>
            <email><![CDATA[tho@augen.com]]></email>
            <fullName><![CDATA[Tho]]></fullName>
            <address><![CDATA[84A ]]></address>
            <city><![CDATA[HCM]]></city>
          </fADOrderEntry>
          <fADOrderListFolder id="1135" key="190eb351-ef0f-4184-916e-3f9249096042" parentID="1131" level="5" creatorID="0" sortOrder="0" createDate="2017-08-09T17:25:00" updateDate="2017-08-09T17:25:00" nodeName="09" urlName="09" path="-1,1069,1129,1130,1131,1135" isDoc="" nodeType="1125" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderListFolder">
            <fADOrderEntry id="1137" key="ca5c1ec1-1336-400c-af65-436e77c4592a" parentID="1135" level="6" creatorID="0" sortOrder="0" createDate="2017-08-09T17:29:45" updateDate="2017-08-09T17:29:45" nodeName="ThoVu_2017-08-09-172944" urlName="thovu_2017-08-09-172944" path="-1,1069,1129,1130,1131,1135,1137" isDoc="" nodeType="1127" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderEntry">
              <email><![CDATA[nontrang_01@yahoo.com]]></email>
              <submittedDatetime>2017-08-09T17:29:44.5589795</submittedDatetime>
              <fullName><![CDATA[ThoVu]]></fullName>
              <address><![CDATA[84A Ql1A, phuong Dong HUng THuan, Q12]]></address>
              <city><![CDATA[HCM]]></city>
            </fADOrderEntry>
          </fADOrderListFolder>
          <fADOrderEntry id="1136" key="a746ac76-d018-45a9-9bb3-94daf7ae2d0d" parentID="1131" level="5" creatorID="0" sortOrder="1" createDate="2017-08-09T17:25:14" updateDate="2017-08-09T17:25:14" nodeName="tst_2017-08-09-172504" urlName="tst_2017-08-09-172504" path="-1,1069,1129,1130,1131,1136" isDoc="" nodeType="1127" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderEntry">
            <phone><![CDATA[1234]]></phone>
            <email><![CDATA[nontrang@yahoo.com]]></email>
            <submittedDatetime>2017-08-09T17:24:45.9405113</submittedDatetime>
            <fullName><![CDATA[tst]]></fullName>
            <address><![CDATA[1235]]></address>
            <city><![CDATA[HCM]]></city>
          </fADOrderEntry>
          <fADOrderListFolder id="1139" key="50228046-7ab2-44f7-b9f4-1d33fae30166" parentID="1131" level="5" creatorID="0" sortOrder="1" createDate="2017-08-10T10:32:33" updateDate="2017-08-10T10:32:34" nodeName="10" urlName="10" path="-1,1069,1129,1130,1131,1139" isDoc="" nodeType="1125" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderListFolder">
            <fADOrderEntry id="1140" key="554966ad-637d-4dfb-8d70-d29ff95e6d6e" parentID="1139" level="6" creatorID="0" sortOrder="0" createDate="2017-08-10T10:32:35" updateDate="2017-08-10T10:32:35" nodeName="ThoVu_2017-08-10-103234" urlName="thovu_2017-08-10-103234" path="-1,1069,1129,1130,1131,1139,1140" isDoc="" nodeType="1127" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderEntry">
              <phone><![CDATA[90980877]]></phone>
              <email><![CDATA[nontrang_01@yahoo.com]]></email>
              <submittedDatetime>2017-08-10T10:31:50.1385579</submittedDatetime>
              <fullName><![CDATA[ThoVu]]></fullName>
              <address><![CDATA[Quan 12]]></address>
              <city><![CDATA[HCM]]></city>
              <fADOrderDetailEntry id="1141" key="c6f97386-33cd-44cf-bd43-e6871e08263f" parentID="1140" level="7" creatorID="0" sortOrder="0" createDate="2017-08-10T10:32:46" updateDate="2017-08-10T10:32:46" nodeName="Murtyio" urlName="murtyio" path="-1,1069,1129,1130,1131,1139,1140,1141" isDoc="" nodeType="1138" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderDetailEntry">
                <foodId>1121</foodId>
                <amount>2</amount>
                <foodDescription><![CDATA[<p>Pizza</p>
<p>lap xuong</p>
<p>vien day</p>
<p>pho mai</p>
<p> </p>
<p> </p>]]></foodDescription>
                <price>0</price>
                <foodName><![CDATA[Murtyio]]></foodName>
              </fADOrderDetailEntry>
              <fADOrderDetailEntry id="1142" key="9690f4e8-b4af-4b7c-9cb2-74f3348e11e3" parentID="1140" level="7" creatorID="0" sortOrder="1" createDate="2017-08-10T10:32:47" updateDate="2017-08-10T10:32:47" nodeName="Donec" urlName="donec" path="-1,1069,1129,1130,1131,1139,1140,1142" isDoc="" nodeType="1138" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderDetailEntry">
                <foodId>1118</foodId>
                <amount>1</amount>
                <foodDescription><![CDATA[<p>Biorhythm Calculator<br />Lorem Ipsum<br />Nasa Exercise<br />Slogan Generator (English)<br />RGB Color Calculator & Color Scheme Tool<br />Danish shortcuts</p>]]></foodDescription>
                <price>0</price>
                <foodName><![CDATA[Donec]]></foodName>
              </fADOrderDetailEntry>
            </fADOrderEntry>
            <fADOrderEntry id="1143" key="aae73be2-f289-4fb6-b8dc-301ab9ee5f83" parentID="1139" level="6" creatorID="0" sortOrder="1" createDate="2017-08-10T10:34:29" updateDate="2017-08-10T10:34:29" nodeName="ThoVu_2017-08-10-103429" urlName="thovu_2017-08-10-103429" path="-1,1069,1129,1130,1131,1139,1143" isDoc="" nodeType="1127" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderEntry">
              <email><![CDATA[nontrang_01@yahoo.com]]></email>
              <submittedDatetime>2017-08-10T10:34:21.9929816</submittedDatetime>
              <fullName><![CDATA[ThoVu]]></fullName>
              <address><![CDATA[84A Ql1A, phuong Dong HUng THuan, Q12]]></address>
              <city><![CDATA[HCM]]></city>
            </fADOrderEntry>
            <fADOrderEntry id="1144" key="001d430e-a29e-49a5-904e-cede86eee1c2" parentID="1139" level="6" creatorID="0" sortOrder="2" createDate="2017-08-10T10:36:38" updateDate="2017-08-10T10:36:38" nodeName="Tho_2017-08-10-103637" urlName="tho_2017-08-10-103637" path="-1,1069,1129,1130,1131,1139,1144" isDoc="" nodeType="1127" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderEntry">
              <phone><![CDATA[909]]></phone>
              <email><![CDATA[nontrang_01@yahoo.com]]></email>
              <submittedDatetime>2017-08-10T10:36:37.67403</submittedDatetime>
              <fullName><![CDATA[Tho]]></fullName>
              <address><![CDATA[123]]></address>
              <city><![CDATA[HCM]]></city>
              <fADOrderDetailEntry id="1145" key="32260a43-b7e0-4d6b-81b5-7a4ce4831a1a" parentID="1144" level="7" creatorID="0" sortOrder="0" createDate="2017-08-10T10:36:38" updateDate="2017-08-10T10:36:38" nodeName="Holity as Polfh" urlName="holity-as-polfh" path="-1,1069,1129,1130,1131,1139,1144,1145" isDoc="" nodeType="1138" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderDetailEntry">
                <foodId>1122</foodId>
                <amount>2</amount>
                <foodDescription><![CDATA[<p>Tomato</p>
<p>Salach</p>
<p>hanh</p>
<p>chily</p>
<p>Sauce </p>
<p>blah blah</p>]]></foodDescription>
                <price>0</price>
                <foodName><![CDATA[Holity as Polfh]]></foodName>
              </fADOrderDetailEntry>
            </fADOrderEntry>
            <fADOrderEntry id="1146" key="aac98323-1371-4608-8918-86dc3ede0474" parentID="1139" level="6" creatorID="0" sortOrder="3" createDate="2017-08-10T10:37:21" updateDate="2017-08-10T10:37:21" nodeName="abc_2017-08-10-103721" urlName="abc_2017-08-10-103721" path="-1,1069,1129,1130,1131,1139,1146" isDoc="" nodeType="1127" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderEntry">
              <phone><![CDATA[787]]></phone>
              <email><![CDATA[gg@gmail.com]]></email>
              <submittedDatetime>2017-08-10T10:37:21.2388487</submittedDatetime>
              <fullName><![CDATA[abc]]></fullName>
              <address><![CDATA[123]]></address>
              <city><![CDATA[HCM]]></city>
              <fADOrderDetailEntry id="1147" key="fa0e6444-fa63-4d61-b0ae-2a94c0ee2458" parentID="1146" level="7" creatorID="0" sortOrder="0" createDate="2017-08-10T10:37:22" updateDate="2017-08-10T10:37:22" nodeName="Donec" urlName="donec" path="-1,1069,1129,1130,1131,1139,1146,1147" isDoc="" nodeType="1138" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderDetailEntry">
                <foodId>1118</foodId>
                <amount>2</amount>
                <foodDescription><![CDATA[<p>Biorhythm Calculator<br />Lorem Ipsum<br />Nasa Exercise<br />Slogan Generator (English)<br />RGB Color Calculator & Color Scheme Tool<br />Danish shortcuts</p>]]></foodDescription>
                <price>44</price>
                <foodName><![CDATA[Donec]]></foodName>
              </fADOrderDetailEntry>
            </fADOrderEntry>
            <fADOrderEntry id="1148" key="fcd83a5b-0217-43a2-8093-f3bd3b18da71" parentID="1139" level="6" creatorID="0" sortOrder="4" createDate="2017-08-10T11:45:22" updateDate="2017-08-10T11:45:22" nodeName="aa_2017-08-10-114521" urlName="aa_2017-08-10-114521" path="-1,1069,1129,1130,1131,1139,1148" isDoc="" nodeType="1127" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderEntry">
              <phone><![CDATA[1231]]></phone>
              <email><![CDATA[mnport@mail.com]]></email>
              <submittedDatetime>2017-08-10T11:45:21.5072126</submittedDatetime>
              <fullName><![CDATA[aa]]></fullName>
              <address><![CDATA[123]]></address>
              <city><![CDATA[HCM]]></city>
              <fADOrderDetailEntry id="1149" key="508a5b52-7b7d-4b58-8e4e-369703ef36b6" parentID="1148" level="7" creatorID="0" sortOrder="0" createDate="2017-08-10T11:45:23" updateDate="2017-08-10T11:45:23" nodeName="Donec" urlName="donec" path="-1,1069,1129,1130,1131,1139,1148,1149" isDoc="" nodeType="1138" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderDetailEntry">
                <foodId>1118</foodId>
                <amount>1</amount>
                <foodDescription><![CDATA[<p>Biorhythm Calculator<br />Lorem Ipsum<br />Nasa Exercise<br />Slogan Generator (English)<br />RGB Color Calculator & Color Scheme Tool<br />Danish shortcuts</p>]]></foodDescription>
                <price>44</price>
                <foodName><![CDATA[Donec]]></foodName>
              </fADOrderDetailEntry>
            </fADOrderEntry>
            <fADOrderEntry id="1150" key="79859251-c480-4b79-a42f-ddfaf9527851" parentID="1139" level="6" creatorID="0" sortOrder="5" createDate="2017-08-10T13:17:34" updateDate="2017-08-10T13:17:34" nodeName="1_2017-08-10-131734" urlName="1_2017-08-10-131734" path="-1,1069,1129,1130,1131,1139,1150" isDoc="" nodeType="1127" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderEntry">
              <phone><![CDATA[4]]></phone>
              <email><![CDATA[5as@hami.com]]></email>
              <submittedDatetime>2017-08-10T13:17:34.3264375</submittedDatetime>
              <fullName><![CDATA[1]]></fullName>
              <address><![CDATA[2]]></address>
              <city><![CDATA[HCM]]></city>
              <fADOrderDetailEntry id="1151" key="2c052ab2-2c09-474a-81fe-e47c70467b8d" parentID="1150" level="7" creatorID="0" sortOrder="0" createDate="2017-08-10T13:17:35" updateDate="2017-08-10T13:17:35" nodeName="Murtyio" urlName="murtyio" path="-1,1069,1129,1130,1131,1139,1150,1151" isDoc="" nodeType="1138" creatorName="thovu" writerName="thovu" writerID="0" template="0" nodeTypeAlias="fADOrderDetailEntry">
                <foodId>1121</foodId>
                <amount>1</amount>
                <foodDescription><![CDATA[<p>Pizza</p>
<p>lap xuong</p>
<p>vien day</p>
<p>pho mai</p>
<p> </p>
<p> </p>]]></foodDescription>
                <price>12</price>
                <foodName><![CDATA[Murtyio]]></foodName>
              </fADOrderDetailEntry>
            </fADOrderEntry>
          </fADOrderListFolder>
        </fADOrderListFolder>
      </fADOrderListFolder>
    </fADPageOrderList>
  </fADSite>
</root>